.GameTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
    .GameTitle .GameLogo{
      width: 50%;
      height: 50%;
    }

    .GameTitle .PressStart{
      font-size: 40px;
      animation-timing-function: linear;
      animation: 2s infinite upAndDown;
      cursor: pointer;
    }