.GameLevelTrasition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    .GameLevelTrasition h1{
        font-size: 120px;
        margin: 0;
    }