.LevelPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


    .LevelPage .RegexContainer{
        z-index: 1;
        background-color: var(--color-prime1 );
        padding: 20px;
        min-width: 30%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        animation: 5s regexContainerIdle_anim ease-in-out infinite;
    }

    @keyframes regexContainerIdle_anim {
        0%{
            transform: translateY(0%);
        }
        50%{
            transform: translateY(3%);
        }
        100%{
            transform: translateY(0%);
        }
    }

    /* tous le css de l'input text custome*/
    .LevelPage .inputHolder{
        z-index: 1;
        --fontSize:20px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        padding:10px;
        color: var(--color-prime1);
        border-radius: 20px;
        margin-top: 15px;
        border-style: solid;
        border-color: var(--color-prime1);
        background-color: var(--color-background2);
        border-width: 5px;

        cursor: text;
    }

        .LevelPage .inputHolder .widthCal{
            position: absolute;
            opacity: 0;
            font-size: var(--fontSize);
        }

        .LevelPage .inputHolder .embedValue{
            font-size: var(--fontSize);
            opacity: 0.5;
        }

        .LevelPage .inputHolder input{
            font-size: var(--fontSize);
            font-family: Om_Botak;
            text-align: center;
            background-color: transparent;
            border: none;
            width: 0px;
            color: var(--color-prime1);
            z-index: 1;
        }

            .LevelPage .inputHolder input:focus {
                outline: none;
            }
    

    .LevelPage .updateRegex{
        animation: 0.15s regexContainerUpdate_anim ease-in-out;
    }

    @keyframes regexContainerUpdate_anim {
        0%{
            transform: scale(1.05);
        }
        100%{
            transform: scale(1);
        }
    }



    .LevelPage .inputUpdate{
        animation: 0.05s inputUpdate_anim ease-in-out;
    }

    
    @keyframes inputUpdate_anim {
        0%{
            transform: scale(1.025) rotate(-2deg);
        }
        50%{
            transform: scale(1.025) rotate(1deg);
        }
        100%{
            transform: scale(1);
        }
    }

    .LevelPage .LevelCompletInput{
        background-color: var(--color-right-lighted);
        border-color: var(--color-right-unlighted);
        color: var(--color-right-unlighted);
        animation: 0.25s levelCompletInput_anim ease-in-out;
    }
        .LevelPage .LevelCompletInput input{
            color: var(--color-right-unlighted);
        }

    
    @keyframes levelCompletInput_anim {
        0%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }


    /*Level clear*/

    .LevelPage .LevelFinishMessage{
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 150px;
        animation: 0.5s LevelClearSpawn_anim ease-in-out;
        z-index: 2;
    }
    
        @keyframes LevelClearSpawn_anim {
            0%{
                transform: scale(0.75,1.25);
                top:-50%;
            }
            25%{
                top:5%; transform: scale(0.75,1.25);
            }
            26%{
                transform: scale(1.2) rotate(-10deg);
            }
            50%{
                transform: scale(1) rotate(5deg);
            }
            75%{
                transform: scale(1) rotate(-2.5deg);
            }
            100%{
                transform: scale(1);
            }
        }


    .LevelPage .LevelFinishMessage h1{
        font-size: 100%;
        animation: 5s LevelClearIdle_anim cubic-bezier(0.3, 0.7, 1, 0.3) infinite;
    }

    
    @keyframes LevelClearIdle_anim {
        0%{
            transform: scale(1);
        }
        12.5%{
            transform: scale(1.05) rotate(1deg);
        }
        25%{
            transform: scale(1.1) rotate(-2deg);
        }
        37.5%{
            transform: scale(1.05) rotate(1deg);
        }
        50%{
            transform: scale(1);
        }
        62.5%{
            transform: scale(1.05) rotate(-1deg);
        }
        75%{
            transform: scale(1.1) rotate(2deg);
        }
        87.5%{
            transform: scale(1.05) rotate(-1deg);
        }
        100%{
            transform: scale(1);
        }

    }


    .LevelPage .NextLevelNotif{
        position: absolute;
        bottom: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        animation: 0.25s NextLevelNotifSpawn_anim ease-in-out;;
    }

    
        @keyframes NextLevelNotifSpawn_anim {
            0%{
                transform: scale(0);
            }
            50%{
                transform: scale(1.2);
            }
            100%{
                transform: scale(1);
            }
    
        }

    .LevelPage .NextLevelNotif h1{
        font-size: 30px;
        animation: 3s infinite Floating_anim ease-in-out;
    }