.LevelPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*#region Ui*/
    .LevelPage .Ui{
        position: absolute;
        width:100%;
        height: 100%;
        top: 0;
        left: 0;
        animation: 0.35s Ui_anim ease-in-out;
    }
    @keyframes Ui_anim {
        0%{
            transform: scale(1.5);
        }
        100%{
            transform: scale(1);
        }
    }

        .LevelPage .Ui .ThoerieBnt{
            position: absolute;
            top: 25px;
            right: -170px;
            width: 250px;
            border-radius: 10px;
            border-style: solid;
            border-color: var(--color-prime2);
            border-width: 5px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            transform: scale(1);
            transition: 0.15s right, 0.15s transform;
            background-color: var(--color-background2);
            cursor: pointer;
        }

            .LevelPage .Ui .ThoerieBnt .Icon{
                width: 60px;
                height: 60px;
            }
            .LevelPage .Ui .ThoerieBnt label{
                font-family: Om_Botak;
                font-size: 40px;
                margin-left: 20px;
                color: var(--color-prime2);
                cursor: pointer;
            }
        
        .LevelPage .Ui .ThoerieBnt:hover{
            right: 10px;
            transform: scale(1.2)  translate(0,5%);
            cursor: pointer;
        }
    

    .LevelPage .Ui .HomeBnt{
        width: 50px;
        height: 50px;
        margin: 25px;

        background-color: var(--color-prime2);
        -webkit-mask-image: url("../../ressources/image/SVG/MainMenuIcon.svg");
        cursor: pointer;

        animation: 3s infinite HomeBntIdl_anim ease-in-out;
    }
    @keyframes HomeBntIdl_anim {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(0.9 ,1.1);
        }
        100%{
            transform: scale(1);
        }
    }

    .LevelPage .Ui .HomeBnt:hover{

        animation: 0.25s HomeBntHover_anim ease-in-out;
        transform: scale(1.2);
    }
    @keyframes HomeBntHover_anim {
        0%{
            transform: scale(1);
        }
        25%{
            transform: scale(1.2) rotate(-10deg);
        }
        50%{
            transform: scale(1.2) rotate(5deg);
        }
        75%{
            transform: scale(1.2) rotate(-2.5deg);
        }
        100%{
            transform: scale(1.2);
        }
    }
/*#endregion */



/*#region RegexContainer*/
    .LevelPage .RegexContainer{
        z-index: 1;
        background-color: var(--color-prime1 );
        padding: 20px;
        min-width: 30%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        animation: 5s regexContainerIdle_anim ease-in-out infinite;
    }

    @keyframes regexContainerIdle_anim {
        0%{
            transform: translateY(0%);
        }
        50%{
            transform: translateY(3%);
        }
        100%{
            transform: translateY(0%);
        }
    }

    /* tous le css de l'input text custome*/
    .LevelPage .inputHolder{
        z-index: 1;
        --fontSize:20px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        padding:10px;
        color: var(--color-prime1);
        border-radius: 20px;
        margin-top: 15px;
        border-style: solid;
        border-color: var(--color-prime1);
        background-color: var(--color-background2);
        border-width: 5px;

        cursor: text;
    }

        .LevelPage .inputHolder .widthCal{
            position: absolute;
            opacity: 0;
            font-size: var(--fontSize);
        }

        .LevelPage .inputHolder .embedValue{
            font-size: var(--fontSize);
            opacity: 0.5;
        }

        .LevelPage .inputHolder input{
            font-size: var(--fontSize);
            font-family: Om_Botak;
            text-align: center;
            background-color: transparent;
            border: none;
            width: 0px;
            color: var(--color-prime1);
            z-index: 1;
        }

            .LevelPage .inputHolder input:focus {
                outline: none;
            }
    

    .LevelPage .updateRegex{
        animation: 0.15s regexContainerUpdate_anim ease-in-out;
    }

    @keyframes regexContainerUpdate_anim {
        0%{
            transform: scale(1.05);
        }
        100%{
            transform: scale(1);
        }
    }



    .LevelPage .inputUpdate{
        animation: 0.05s inputUpdate_anim ease-in-out;
    }

    
    @keyframes inputUpdate_anim {
        0%{
            transform: scale(1.025) rotate(-2deg);
        }
        50%{
            transform: scale(1.025) rotate(1deg);
        }
        100%{
            transform: scale(1);
        }
    }

    .LevelPage .LevelCompletInput{
        background-color: var(--color-right-lighted);
        border-color: var(--color-right-unlighted);
        color: var(--color-right-unlighted);
        animation: 0.25s levelCompletInput_anim ease-in-out;
    }
        .LevelPage .LevelCompletInput input{
            color: var(--color-right-unlighted);
        }

    
    @keyframes levelCompletInput_anim {
        0%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }

/*#endregion */



/*#region LevelFinishMessage*/
    /*Level clear*/

    .LevelPage .LevelFinishMessage{
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 10vw;
        animation: 0.5s LevelClearSpawn_anim ease-in-out;

        --strokeSize:3px;

        text-shadow: calc(-1 * var(--strokeSize)) calc(-1 * var(--strokeSize)) 0 var(--color-background), 
        var(--strokeSize) calc(-1 * var(--strokeSize)) 0 var(--color-background), 
        calc(-1 * var(--strokeSize)) var(--strokeSize) 0 var(--color-background), 
        var(--strokeSize) var(--strokeSize) 0 var(--color-background);
        z-index: 2;
    }
    
        @keyframes LevelClearSpawn_anim {
            0%{
                transform: scale(0.75,1.25);
                top:-50%;
            }
            25%{
                top:0; transform: scale(0.75,1.25);
            }
            26%{
                transform: scale(1.2) rotate(-10deg);
            }
            50%{
                transform: scale(1) rotate(5deg);
            }
            75%{
                transform: scale(1) rotate(-2.5deg);
            }
            100%{
                transform: scale(1);
            }
        }


    .LevelPage .LevelFinishMessage h1{
        font-size: 100%;
        animation: 5s LevelClearIdle_anim cubic-bezier(0.3, 0.7, 1, 0.3) infinite;
    }

    
    @keyframes LevelClearIdle_anim {
        0%{
            transform: scale(1);
        }
        12.5%{
            transform: scale(1.05) rotate(1deg);
        }
        25%{
            transform: scale(1.1) rotate(-2deg);
        }
        37.5%{
            transform: scale(1.05) rotate(1deg);
        }
        50%{
            transform: scale(1);
        }
        62.5%{
            transform: scale(1.05) rotate(-1deg);
        }
        75%{
            transform: scale(1.1) rotate(2deg);
        }
        87.5%{
            transform: scale(1.05) rotate(-1deg);
        }
        100%{
            transform: scale(1);
        }

    }


    .LevelPage .NextLevelNotif{
        position: absolute;
        bottom: -200%;
        width: 100%;
        display: flex;
        justify-content: center;
        animation: 0.25s NextLevelNotifSpawn_anim ease-in-out;;
    }

    
        @keyframes NextLevelNotifSpawn_anim {
            0%{
                transform: scale(0);
            }
            50%{
                transform: scale(1.2);
            }
            100%{
                transform: scale(1);
            }
    
        }

    .LevelPage .NextLevelNotif h1{
        font-size: 30px;
        animation: 3s infinite Floating_anim ease-in-out;
    }

/*#endregion */

@media only screen and (min-width: 1500px) {
    .LevelPage .LevelFinishMessage{
        font-size: 150px;
    }
}