/*web sit font load*/
@font-face {
  font-family: Om_Botak;
  src: url("./ressources/font/OmBotak.ttf");
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Om_Botak;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
