.CustomButton{
    position: relative;
    font-family: Om_Botak;
    background: none;
    border-style: none;
    margin:10px;
    animation: 3s infinite Floating_anim ease-in-out;
    color: var(--color-prime2);
    transform: scale(1);
    transition: tranform 1s;
    }
    @keyframes Floating_anim {
        0%{
            transform: scale(0.975, 1.025);
        }
        50%{
            transform: scale(1.025, 0.975);
        }
        100%{
            transform: scale(0.975, 1.025);
        }
    }

.CustomButton:enabled:hover{
    transform: scale(1.1);
    animation:none;
    cursor:pointer;
    animation: 2s infinite FloatingHover_anim cubic-bezier(0.3, 0.7, 1, 0.3);
}
    @keyframes FloatingHover_anim {
        0%{
            transform: scale(1.1) rotate(5deg);
        }
        25% {
            transform: scale(1.15) rotate(-5deg)
        }
        50%{
            transform: scale(1.2) rotate(5deg)
        }
        75%{
            transform: scale(1.15) rotate(-5deg)
        }
        100%{
            transform: scale(1.1) rotate(5deg);
        }
    }

.CustomButton:enabled:hover::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    display: inline-block;
    border-radius: 99px;
    width: 100%;
    transform: rotate(-2deg);
    height: 7px;
    background: var(--color-prime2);
}

.CustomButton:disabled{
    opacity: 0.7;
    animation:none;
}